body {
    background-color: #f8f8f8;
}
.header {
    height: 100px;
    background: url(/img/logo=fon2.png) no-repeat,
                url(/img/logo-fon1.png) no-repeat;
    background-position: right bottom, left;
    background-size: 8%;            
}
.header .nav {
    margin-left: 79%;
    margin-bottom: -2em;
    width: fit-content;
}
.header .nav> a {
    color: #c7ad1c;
    font-size: 120%;
    text-decoration: none;    
}
.header .nav> a:hover {
    color: gold;
    text-decoration: underline;
    transform: scale(0.7);
}
.header .logotip > img {
    margin-left: 38%;
    margin-bottom: -3em;
}
  
  .logo {
      margin-left: 45%;
      margin-top: -1em;
      font-size: 150%;
      color: #F7D65A;
      font-family:cursive;
  }
.katalog-tovarov {
    display: flex;
    justify-content: center;
    left: 50%;
}
.tovar2 {
    padding: 40px;
}
.link {
    display: flex;
    justify-content: center;
    left: 50%;
    margin-top: -5em;
}
.link > a {
    padding: 44px;
}
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 10em;
    padding: 20px;
    bottom: 0;
    height: 4em;
    width: 98%;
  }
  .footer > p {
      width: fit-content;
      margin-left: auto;
      margin-right: 1em;
  }